{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "^rn_components/(.+)": "./src/\\1"
        },
        "extensions": [".jsx", ".js", ".ios.jsx", ".ios.js", ".android.jsx", ".android.js"]
      }
    ]
  ]
}
